<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Homepage.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>LoginDAO</servlet-name>
        <servlet-class>com.db.LoginDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>com.login.AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogout</servlet-name>
        <servlet-class>com.login.AdminLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeLogin</servlet-name>
        <servlet-class>com.login.EmployeeLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EmployeeLogout</servlet-name>
        <servlet-class>com.login.EmployeeLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterContactUsDetails</servlet-name>
        <servlet-class>com.register.RegisterContactUsDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProjects</servlet-name>
        <servlet-class>com.view.ViewProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddEmployee</servlet-name>
        <servlet-class>com.register.AddEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddProject</servlet-name>
        <servlet-class>com.register.AddProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewEmployee</servlet-name>
        <servlet-class>com.view.ViewEmployee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddLeaves</servlet-name>
        <servlet-class>com.register.AddLeaves</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginDAO</servlet-name>
        <url-pattern>/LoginDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogout</servlet-name>
        <url-pattern>/AdminLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeLogin</servlet-name>
        <url-pattern>/EmployeeLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EmployeeLogout</servlet-name>
        <url-pattern>/EmployeeLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterContactUsDetails</servlet-name>
        <url-pattern>/RegisterContactUsDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProjects</servlet-name>
        <url-pattern>/ViewProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddEmployee</servlet-name>
        <url-pattern>/AddEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddProject</servlet-name>
        <url-pattern>/AddProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewEmployee</servlet-name>
        <url-pattern>/ViewEmployee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddLeaves</servlet-name>
        <url-pattern>/AddLeaves</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
